a
{
	color:#2E9AFE;
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}


body
{
	font-family:"Arial Narrow";	
	margin:auto;
	margin-left:10%;
	width: 80%;
}

footer div
{
	font-size:9px;
	float:left;
	margin-left:2px;
	margin-bottom:30px;
}
h2
{
	border-bottom:1px solid #000000;	
}

#banner
{
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background-image: url("../img/banner.png");
	background-size: cover;
	height:200px;
	width:68%;
}

#content
{
	height:630px;
	margin-bottom:40px;
}

#logo
{
	width:30%;
}

#logoContent
{
	height:200px;
}

#menu .row
{
	background-color:#2E9AFE;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
	height:30px;
	margin-bottom:10px;
}

#menu .row a
{
	color:#FFFFFF;
}

#menu .row .button_menu
{
	background-color:#2E9AFE;
	padding:5px;
}

#menu .row .button_menu:hover
{
	background-color:#2ECCFA;
}

#version
{
	height:30px;
}

#version .cell
{
	float:right;
	font-size:11px;
}

.cell
{
	float:left;
	margin-left:1%;
}

.img_home,.info_home
{
	float:left;
}

.info_home{
	width:70%;
}

.info_multimedia
{
	margin-left:20%;
	width:70%;
}

.img_home
{
	width:30%;
}

.img_home img
{
	border-radius:40px;
	padding:5%;
	width:90%;
}

.name_field,.field
{
	margin-bottom:10px;
}

.field input,.field textarea
{
	width:80%;
}

.whoweare img
{
	border-radius:10px;
	margin-left:20%;
}

.row
{
	width:100%;
}

.send
{
	margin-left:40%;
	width:100px!important;
}

.shareButtons{margin-left:20px;}

        .jssorb01 {
            position: absolute;
        }
        .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
            position: absolute;
            /* size of bullet elment */
            width: 12px;
            height: 12px;
            filter: alpha(opacity=70);
            opacity: .7;
            overflow: hidden;
            cursor: pointer;
            border: #000 1px solid;
        }
        .jssorb01 div { background-color: gray; }
        .jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
        .jssorb01 .av { background-color: #fff; }
        .jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

        /* jssor slider arrow navigator skin 02 css */
        /*
        .jssora02l                  (normal)
        .jssora02r                  (normal)
        .jssora02l:hover            (normal mouseover)
        .jssora02r:hover            (normal mouseover)
        .jssora02l.jssora02ldn      (mousedown)
        .jssora02r.jssora02rdn      (mousedown)
        */
        .jssora02l, .jssora02r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 55px;
            height: 55px;
            cursor: pointer;
            background: url('../img/a02.png') no-repeat;
            overflow: hidden;
        }
        .jssora02l { background-position: -3px -33px; }
        .jssora02r { background-position: -63px -33px; }
        .jssora02l:hover { background-position: -123px -33px; }
        .jssora02r:hover { background-position: -183px -33px; }
        .jssora02l.jssora02ldn { background-position: -3px -33px; }
        .jssora02r.jssora02rdn { background-position: -63px -33px; }
